header {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  padding: 30px;
  background-color: #358597;
  color: #cfdcb4;
  border: 7px solid #f4a896;
  margin: 15px;
  margin-bottom: 10px;
  text-align: center;
}
header > h1 {
border: 5px solid #f4a896;
margin-right: 35%;
margin-left: 35%;


}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.vanlig-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 75px;
}
a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.summering {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 75px;
}
